body {
    margin: 0;
    font-family: Arial, sans-serif;
}


header {
    background-color: #6a0dad;
    padding: 1rem 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}


nav {
    display: flex;
    justify-content: flex-end;
}

.contact-me a {
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.Contact {
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}


